    body {
    background-color: #eae1e3e1;
    }
    h1 {
    color: rgb(51, 0, 255);
    }
    p {
    font-size: 16px;
    line-height: 1.0;
    }
    .Samoris_color {
    color: #8ec325c1;}
    .RChris_color {
    color: #1e5cc6c5;}
    .